* {
  border: none;
  border-radius: 0px;
  min-height: 0;
  min-width: 0;
  font-family: "Iosevka Nerd Font";
  font-size: 20px;
  font-weight: 800;
}

window#waybar {
  background-color: #191724; /* BG */
  border-bottom: 5px solid #e0def4; /* FG */
}

#workspaces button {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: #9ccfd8; /* GREEN */
  border-bottom: 7px solid #9ccfd8; /* GREEN */
}

#workspaces button.active {
  color: #191724; /* BG */
  background-color: #9ccfd8; /* GREEN */
}

#workspaces button:hover {
  color: #191724; /* BG */
  background-color: #9ccfd8; /* GREEN */
}

#window,
#network,
#battery,
#weather,
#language,
#clock,
#tray {
  margin: 0;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 0;
}

#window {
  color: #ebbcba; /* PURPLE */
  border-bottom: 7px solid #ebbcba;
}

#network {
  color: #eb6f92; /* RED */
  border-bottom: 7px solid #eb6f92;
}

#battery {
  color: #f6c177; /* ORANGE */
  border-bottom: 7px solid #f6c177;
}

#custom-weather {
  color: #9ccfd8; /* GREEN */
  border-bottom: 7px solid #9ccfd8;
}

#language {
  color: #9ccfd8; /* GREEN */
  border-bottom: 7px solid #9ccfd8;
}

#clock {
  color: #9ccfd8; /* GREEN */
  border-bottom: 7px solid #9ccfd8;
}

#tray {
  color: #ebbcba; /* PURPLE */
  border-bottom: 7px solid #ebbcba;
}

