@import "../omarchy/current/theme/waybar.css";
@import "../omarchy/current/theme/waybar-user.css";

* {
  border: none;
  font-family: "CaskaydiaMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  transition: none;
}

window#waybar {
  background-color: transparent;
}
window#waybar > box {
  background-color: @background;
}

/* Workspaces */

#workspaces {
  background-color: @background;
  opacity: 1;
}

#workspaces button {
  margin: 8px 0px;
  padding: 0px 8px;
  border-radius: 0;
  background-color: @background;
  color: @foreground;
  opacity: 1;
}

#workspaces button.active {
  color: @background;
  background: @red2;
  opacity: 1;
}

#workspaces button:hover {
  background-color: @red2;
  color: @black;
  opacity: 1;
}

/* Modules */

.modules-left {
  background-color: @background;
}

#left1,
#left2 {
  padding: 0px 5px 0px;
}

#custom-screenrecording-indicator,
#custom-notification-silencing-indicator,
#custom-voxtype,
#custom-voxtype.recording,
#custom-voxtype.transcribing,
#mpris #tray,
#cpu,
#memory,
#battery,
#backlight,
#network,
#power-profiles-daemon,
#mpris,
#bluetooth,
#pulseaudio {
  min-width: 14px;
  padding: 0 6px;
}

#clock {
  min-width: 10px;
}

#custom-weather {
  min-width: 10px;
  padding: 0 6px;
}

#custom-notification-silencing-indicator {
  min-width: 16px;
  font-size: 16px;
  padding-bottom: 0px;
}

#custom-notification-silencing-indicator.active {
  color: @muted;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: @red2;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

/* Tooltip */

tooltip {
  padding: 4px;
  background: @background;
  border: 1px solid alpha(@foreground, 0.8);
  border-radius: 0;
  font-weight: 100;
}
tooltip label {
  color: @foreground;
  font-weight: 100;
  font-size: 16px;
}
tooltip calendar {
  font-size: 14px;
  font-weight: 100;
}
tooltip calendar header {
  font-size: 15px;
  font-weight: 100;
  color: @month;
}
tooltip calendar weekR {
  font-size: 14px;
  color: @weekdays;
}
tooltip calendar day {
  font-size: 14px;
}
tooltip calendar day.today {
  font-weight: 100;
  color: @today;
}
tooltip calendar day:focus {
  background-color: @foreground;
  color: @background;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
  font-size: 18px;
  padding-right: 10px;
}

@keyframes blink-recording {
  to {
    color: @background;
  }
}

#mpris {
  padding: 0px 5px 0px;
  color: @foreground;
}

@keyframes blink {
  to {
    color: @foreground;
  }
}
#battery.warning {
  color: @warning;
  background-color: @background;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: @critical;
  }
}

#battery.critical:not(.charging) {
  background-color: @background;
  color: @critical_text;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Tray */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @transparent;
}

#tray menu {
  background-color: @background;
  color: @foreground;
}

.hidden {
  opacity: 0;
}

/* Hover */

#custom-update:hover,
#custom-screenrecording-indicator:hover,
#clock:hover,
#custom-weather:hover,
#mpris:hover #tray:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#backlight:hover,
#network:hover,
#power-profiles-daemon:hover,
#mpris:hover,
#bluetooth:hover,
#pulseaudio:hover {
  opacity: 0.9;
  background-color: @foreground;
  color: @background;
}
