@import "../omarchy/current/theme/waybar.css";

@define-color black #101010;
@define-color red1 #dd6147;
@define-color red2 #b84d35;

@define-color green1 #5c6a53;
@define-color green2 #8fac70;
@define-color green3 #4a5642;

@define-color rose #d5827e;

@define-color green4 #879a39;

/* @define-color gold1; */

* {
  border: none;
  font-family: "CaskaydiaMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  background-color: transparent;
}
window#waybar > box {
  background-color: @background;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* Left-Modules */

.modules-left {
  background-color: @background;
}

#left1 {
  background-color: alpha(@foreground, 0.05);
  border-bottom: 1.5px solid alpha(@foreground, 0.5);
  border-radius: 3px;
  margin: 2px 3px;
  padding: 0px 3px 0px;
}

#left2 {
  background-color: alpha(@foreground, 0.05);
  border-bottom: 1.5px solid alpha(@foreground, 0.5);
  border-radius: 3px;
  padding: 0px 5px 0px;
  margin: 2px 3px;
}

/* --- Workspaces --- */
#workspaces {
  background-color: @background;
  opacity: 1;
  margin: 2px 0px;
}

#workspaces button {
  padding: 0px 14px;
  margin: 2px 3px;
  border-radius: 3px;
  background-color: alpha(@foreground, 0.55);
  color: @background;
  transition: all 0.15s ease-in-out;
  opacity: 1;
}

#workspaces button.active {
  color: @black;
  padding: 0 14px;
  margin: 2px 3px;
  background-color: @rose;
  border-bottom: 3px solid @rose;
  border-radius: 3px;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.empty {
  background-color: alpha(@foreground, 0.05);
  color: @foreground;
  opacity: 0.75;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
  padding: 0px 7px;
  margin: 2px 3px;
}

#workspaces button.empty.active {
  background-color: @rose;
  border-bottom: 3px solid @rose;
  border-radius: 3px;
  color: @black;
  opacity: 1;
  padding: 0px 14px;
  margin: 2px 3px;
}

#workspaces button:hover.empty,
#workspaces button:hover {
  background-color: @rose;
  color: @black;
  opacity: 1;
}

#custom-screenrecording-indicator,
#custom-notification-silencing-indicator,
#custom-voxtype,
#custom-voxtype.recording,
#custom-voxtype.transcribing,
#mpris #tray,
#cpu,
#memory,
#battery,
#backlight,
#network,
#power-profiles-daemon,
#mpris,
#bluetooth,
#pulseaudio {
  min-width: 14px;
  margin: 2px 2px 2px 2px;
  padding: 0 6px;
}

#clock {
  min-width: 10px;
  margin: 2px;
}

tooltip {
  padding: 6px;
  background: @background;
  border: 1px solid alpha(@foreground, 0.8);
  border-radius: 12px;
}
tooltip label {
  color: @foreground;
  font-weight: normal;
  font-size: 14px;
}
tooltip calendar {
  font-size: 14px;
}
tooltip calendar header {
  font-size: 15px;
  font-weight: bold;
  color: #ffead3;
}
tooltip calendar weekR {
  font-size: 14px;
  color: #ffcc66;
}
tooltip calendar day {
  font-size: 14px;
}
tooltip calendar day.today {
  font-weight: bold;
  color: #ff6699;
}
tooltip calendar day:focus {
  background-color: @foreground;
  color: @background;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
  font-size: 18px;
  margin-top: 0px;
  padding-right: 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @transparent;
}

#tray menu {
  background-color: @background;
  color: @foreground;
  border-radius: 0px;
}

#custom-voxtype {
  min-width: 16px;
  margin: 0 0 0 3.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-notification-silencing-indicator {
  min-width: 16px;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  padding-bottom: 0px;
}

#custom-notification-silencing-indicator.active {
  color: #a55555;
}

.hidden {
  opacity: 0;
}
/* --- Hover right module  --- */
#custom-update:hover,
#custom-screenrecording-indicator:hover,
#clock:hover,
#mpris:hover #tray:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#backlight:hover,
#network:hover,
#power-profiles-daemon:hover,
#mpris:hover,
#bluetooth:hover,
#pulseaudio:hover {
  border-radius: 3px;
  opacity: 0.9;
  background-color: @foreground;
  color: @background;
}

tooltip {
  padding: 4px;
  background: @background;
  border: 1px solid alpha(@foreground, 0.8);
  border-radius: 8px;
}
tooltip label {
  color: @foreground;
  font-weight: normal;
  font-size: 10px;
}

/* Specific animation Module */

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
  to {
    color: @background;
  }
}

#mpris {
  background-color: alpha(@foreground, 0.05);
  border-bottom: 1.5px solid alpha(@foreground, 0.5);
  border-radius: 3px;
  margin: 2px 3px;
  padding: 0px 5px 0px;
  color: @foreground;
  animation: repeat;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @foreground;
  }
}
#battery.warning {
  color: #c95d0f;
  background-color: @background;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: @background;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
