configuration {
    cycle: false;
    disable-history: true;
    drun-display-format: "{icon} {name}";
    font: "Source Code Pro 14";
    hide-scrollbar: true;
    lines: 5;
    location: 0;
    modi: "drun";
    show-icons: true;
    sorting-method: "fzf";
    terminal: "ghostty";
    xoffset: 0;
    yoffset: 0;
}
@theme "theme"
