ACTION=="add", SUBSYSTEM=="input", ATTR{name}=="Squalius-cephalus silakka54 Keyboard", RUN+="/home/kovs/dotfiles/keyboard/disable-internal-keyboard.sh"
ACTION=="remove", SUBSYSTEM=="input", ATTR{name}=="Squalius-cephalus silakka54 Keyboard", RUN+="/home/kovs/dotfiles/keyboard/enable-internal-keyboard.sh"
