" vim opts
let mapleader = " "
set clipboard^=unnamedplus,unnamed
set relativenumber
set hlsearch
set incsearch
set ignorecase
set smartcase

set timeoutlen=300
set scrolloff=5
set cursorline

set showmode
set commentary
set surround
set ideajoin
set list

" common keymaps
noremap <leader>cs :source ~/.ideavimrc<CR>:noh<CR>

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

noremap <C-i> <C-o>
noremap <C-o> <C-i>

nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz
nnoremap g* g*zz
nnoremap g# g#zz

noremap H ^
noremap L $

nnoremap <Esc> :noh<CR>

vnoremap < <gv
vnoremap > >gv

vnoremap p "_dP
vnoremap H ^
vnoremap L $

nmap <leader>s <Action>(SaveAll)
nmap <C-a> <Action>($SelectAll)

nmap <C-,> <Action>(EditorDecreaseFontSize)
nmap <C-.> <Action>(EditorIncreaseFontSize)

vmap J <Action>(MoveLineDown)
vmap K <Action>(MoveLineUp)

nmap <C-n> <Action>(NewElement)
nmap <C-w> <Action>(CloseContent)

nmap <leader>z <Action>(ToggleDistractionFreeMode)

" flash plugin
nmap s <Action>(flash.search)
xmap s <Action>(flash.search)

nmap f <Action>(flash.find)
xmap f <Action>(flash.find)

nmap F <Action>(flash.find_backward)
xmap F <Action>(flash.find_backward)


" debug
nmap <leader>du <Action>(Debug)
nmap <leader>do <Action>(StepInto)
nmap <leader>doo <Action>(StepOver)
nmap <leader>di <Action>(StepOut)
nmap <leader>b <Action>(ToggleLineBreakpoint)
nmap <leader>B <Action>(ViewBreakpoints)


" git
nmap <leader>gs <Action>(Git.StageChange)
vmap <leader>gs <Action>(Git.StageChange)

nmap <leader>gS <Action>(Git.StageFile)
vmap <leader>gS <Action>(Git.StageFile)

nmap <leader>gr <Action>(Vcs.RollbackChangedLines)
vmap <leader>gr <Action>(Vcs.RollbackChangedLines)

vmap <leader>gR <Action>(Vcs.Rollback)
nmap <leader>gR <Action>(Vcs.Rollback)

vmap <leader>gd <Action>(Annotate)
nmap <leader>gd <Action>(Annotate)

vmap <leader>gD <Action>(Vcs.ShowTabbedFileHistory)
nmap <leader>gD <Action>(Vcs.ShowTabbedFileHistory)

nmap <leader>gu <Action>(Git.UnstageChange)
nmap <leader>gp <Action>(Compare.SameVersion)

nmap ]h <Action>(VcsShowNextChangeMarker)
nmap [h <Action>(VcsShowPrevChangeMarker)


" file navigation
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fd <Action>(GotoSymbol)

nmap <leader>er <Action>(ActivateProjectToolWindow)
nmap <leader>nf <Action>(NewFile)
nmap <leader>nd <Action>(NewDir)

" LSP
nmap gd <Action>(GotoDeclaration)

nmap <leader>lh <Action>(ShowHoverInfo)
nmap <leader>lr <Action>(ShowUsages)
nmap <leader>ld <Action>(QuickDefinition)
nmap <leader>li <Action>(GotoImplementation)
nmap <leader>le <Action>(ShowErrorDescription)
nmap <leader>lL <Action>(Synchronize)
imap <C-h> <Action>(ParameterInfo)

nmap <leader>]d <Action>(GotoNextError)
nmap <leader>[d <Action>(GotoPreviousError)

nmap <leader>ca <Action>(ShowIntentionActions)
vmap <leader>ca <Action>(ShowIntentionActions)

nmap <leader>f <Action>(ReformatCode)
nmap <leader>fr <Action>(RearrangeCode)
nmap <leader>i <Action>(OptimizeImports)


" refactoring
nmap <leader>rn <Action>(RenameElement)
nmap <leader>rm <Action>(ExtractMethod)
nmap <leader>rv <Action>(IntroduceVariable)
nmap <leader>rf <Action>(IntroduceField)
nmap <leader>rs <Action>(ChangeSignature)
nmap <leader>rr <Action>(Refactoring.QuickListPop)

nmap <leader>cg <Action>(Generate)
nmap <leader>sa <Action>(SurroundWith)
nmap <S-k> <Action>(EditorDuplicateLines)
nmap <C-CR> <Action>(EditorCompleteStatement)
nmap <A-[> <Action>(MethodUp)
nmap <A-]> <Action>(MethodDown)

nmap <A-j> <Action>(MoveStatementDown)
nmap <A-k> <Action>(MoveStatementUp)

